@import 'style/variables';

.ArticlePage {
  background-color: #fafafa;
  padding: 40px 0px;//
  flex-grow: 2;

  @media screen and (max-width: 768px) {
    background-color: #ffffff;
    padding: 24px 0px 0px;
  }
}
