@import "style/variables";

.UserEmployeesItem {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  width: 343px;
  height: 206px;
  overflow: hidden;
  border-radius: 4px;
  background-size: cover;
  background-position: top;
  margin-bottom: 20px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0px;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32)),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    opacity: 1;
    transition: opacity $short-effect;
  }

  &:hover:after {
    opacity: $opacity;
  }

  &__body {
    position: relative;
    z-index: 5;
    padding: 16px;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
  }

  &__workPosition {
    font-size: 14px;
    letter-spacing: 0.44px;
    color: rgba(255, 255, 255, 0.8);
  }

  @media screen and (max-width: 991px) {
    & {
      width: 100%;
    }
  }

}
