@import "style/variables";

.FieldLayoutView {
  & {
    position: relative;
  }


  &__label {
    &_required:after {
      display: inline-block;
      content: '*';
      color: $orangey-red;
      margin: 0 0 0 3px;
    }
  }

  &__invalid-feedback {
    /*position: absolute;
    left: 50%;
    transform: translateX(-50%);*/
    width: 100%;
    text-align: center;
    color: $orangey-red;
    letter-spacing: 0.13px;
    margin-bottom: 8px;
    font-size: 14px;
  }

  &__hint {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
  }
}
