@import 'style/variables';


.FeedbackModal {
  &__body {
    width: 100%;
    padding: 80px 56px;
  }

  &__form {
    margin-top: 24px;
  }

  h1 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 48px;
  }

  .form-group {
    margin-bottom: 16px;
  }

  &__text-field {
    margin-top: 16px;
  }

  &__submit {
    margin-top: 24px;
  }


}


