@import "../../../style/variables";
@import '../../../style/helpers/mixins';

.IndexHeaderSearch {
  $root: &;
  position: absolute;
  top: 0;
  left: 12px;
  right: 12px;
  opacity: 0;
  transition: opacity $short-effect;
  z-index: 1;

  &.open {
    opacity: 1;
    z-index: 10;
  }

  &__search-input-wrap {
    position: relative;
  }

  &__search-icon {
    svg {
      width: 24px;
    }

    path {
      fill: #afafaf;
    }
  }

  &__filters {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    z-index: 90;
  }

  .FieldLayoutView {
    margin-bottom: 0;
  }

  &__search-input {
    padding-left: 50px;

  }

  &__search-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }


  &_isSearchPage {
    @media screen and (max-width: 991px) {
      position: static;
      opacity: 1;

      #{$root}__filters {
        margin-top: 16px;
        position: static;
        transform: translateY(0);
        justify-content: space-between;

        & > .FieldLayoutView {
          &:first-child {
            width: 60%;
          }

          &:last-child {
            width: 38%;
          }
        }
      }
    }
  }
}
